.alert-box {
  display:none;

  position: fixed;
  right: 1rem;
  top: 10vmin;

  width: 25vmax;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom: 0px;
  border-radius:5px;
  z-index:9999;
  padding-left: 3px;
  padding-right: 3px;
  padding-top:4px;
  padding-bottom:4px;
}

#cancelBtn{
  cursor:pointer;
  display: inline;
  width: 25px;
  height: 25px;
  opacity:0.3;
  padding: 0;
  margin-right: 15px;
}

#info{
    text-align: center;
  font-family:"Poppins",sans-serif;
  font-weight: 700;
  font-size: 14px;
  color:rgb(66, 66, 66);
  width: fit-content;
  margin-left: 0;
}
  
@keyframes Toastify__trackProgress {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.Toastify__progress-bar--animated {
  -webkit-animation: Toastify__trackProgress linear 1 forwards;
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar {
  bottom: 0;
  height: 5px;
  left: 0;
  opacity: 0.7;
  position: absolute;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
  z-index: 9999;
}
.Toastify__progress-bar--success {
  background: #07bc0c;
}